#title{
    background-color: #ff4c68;
    color: #fff;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 700;
}

p {
    color: #8f8f8f;
}

.container-fluid{
   padding: 3% 15% 7%; 
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* Navigation Bar */
.navbar{
    padding-bottom: 4.5rem;
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
}

/* download buttons */
.download-button{
  margin: 5% 3% 5% 0;  
}

/* title image */
.title-image{
    width: 21%;
    transform: rotate(25deg);
    position: absolute; 
    right: 25%;
}

/* feature section */

#features{
    padding:7% 15%;
    background-color: #fff;
    position: relative;
}

.feature-col{
    text-align: center;
    padding: 5%;
}

.feature-icon{
    color: #ef8172;
    cursor: pointer;
    margin-bottom: 1rem;
}

.feature-icon:hover{
    transform: scale(1.08);
    opacity: 1;
    color: #ff4c68;
}

/* Testimonials section */

#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.testimonial-item{
    padding: 7% 15%;
}

.testimonials-image{
    margin: 5%;
    border-radius: 100%;
    width: 10%;
}

/* press section */

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-image{
    width: 15%;
    margin: 20px 20px 50px;
}

/* pricing section */
#pricing{
   padding: 100px; 
}

.pricing-column{
    padding: 3% 2%;
}

/* Smaller screen responsiveness */
@media (max-width: 1283px){
    .title-image{
        width: 60%;
        position: static;
        transform: rotate(0deg);
    }
    #title{
        text-align: center;
    }
}

/* CTA section */
#cta{
    background-color: #ff4c68;
    text-align: center;
    padding: 7% 15%;
}

.cta-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 700;
    color: #fff;
}

/* footer section */

#footer{
    text-align: center;
    padding: 7% 15%;
}

.social-icons{
    margin: 20px 10px;
}
