body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
}

p {
    color: #8f8f8f;
}

/* Headings */
.big-heading{
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
    color: #fff;
}

/* Containers */
.container-fluid{
   padding: 7% 15%; 
}

/* Section */
.colored-section{
    background-color: #ff4c68;
    color: #fff; 
}

.white-section{
    background-color: #fff;
}

/* Navigation Bar */
.navbar{
    padding-bottom: 4.5rem;
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
}



/* title */

#title .container-fluid{
    padding: 3% 15% 7%;
    text-align: left;
}

/* download buttons */
.download-button{
    margin: 5% 3% 5% 0;  
}

.title-image{
    width: 21%;
    transform: rotate(25deg);
    position: absolute; 
    right: 25%;
}

/* feature section */

#features{
    position: relative;
}

.feature-col{
    padding: 5%;
}

.feature-title{
    font-size: 1.5rem;
}

.feature-icon{
    color: #ef8172;
    cursor: pointer;
    margin-bottom: 1rem;
}

.feature-icon:hover{
    transform: scale(1.08);
    opacity: 1;
    color: #ff4c68;
}

/* Testimonials section */

#testimonials {
    background-color: #ef8172;
}

.testimonials-text{
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 700;
}

.testimonials-image{
    margin: 5%;
    border-radius: 100%;
    width: 10%;
}

/* press section */

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.price-text{
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 700;
}

.press-image{
    width: 15%;
    margin: 20px 20px 50px;
}

/* pricing section */
#pricing{
   padding: 100px; 
}

.pricing-column{
    padding: 3% 2%;
}

.section-heading{
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 700;
}

/* Smaller screen responsiveness */
@media (max-width: 1283px){
    .title-image{
        width: 60%;
        position: static;
        transform: rotate(0deg);
    }
    #title{
        text-align: center;
    }
}

/* CTA section */


/* footer section */

.social-icons{
    margin: 20px 10px;
}
